### IntelliJ IDEA ###
OpenDL/out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# IntelliJ IDEA specific files
.idea/
*.iml

# Compiled output
out/
build/
*.class

# Packaged files
*.jar
*.exe
Packaging_Input/
Packaging_Output/

Packing_Input/
opendl_history.json
OpenDL/opendl_history.json